<h1>Disertantes</h1>

{% for disertante in disertantes %}

<div>

    <h2>
        <a href="{{ path('app_disertante_detalle', {
            'id': disertante.id
        }) }}">
            {{ disertante.nombreCompleto }}
        </a>
    </h2>

    <p>{{ disertante.biografia }}</p>

    <p>
        <strong>Imparte los siguientes eventos:</strong>
    </p>

    <ul>

        {% for evento in disertante.eventos %}

            <li>
                <a href="{{ path('app_evento_detalle', {
                    'slug': evento.slug
                }) }}">
                    {{ evento.titulo }}
                </a>
            </li>

        {% else %}

            <li>No imparte ningún evento</li>

        {% endfor %}

    </ul>

</div>

<div>

    <p><strong>Más información</strong></p>

    <ul>

        {% if disertante.twitter %}
            <li>
                <a href="{{ disertante.twitter }}">
                    Twitter
                </a>
            </li>
        {% endif %}

        {% if disertante.linkedin %}
            <li>
                <a href="{{ disertante.linkedin }}">
                    LinkedIn
                </a>
            </li>
        {% endif %}

    </ul>

</div>

<hr>

{% endfor %}